
.logincontainer{
    width: 100%;
    height: 97vh;
    padding-top: 4vh;
    background-color: rgb(253,239,235);
    margin-bottom: 20px;
    margin-top: 80px;
}
.logindiv{
    width:400px;
    height: 640px;
    background-color: white;
    margin: auto;
}

.inputcontainer{
    width: 77%;
    background-color: white;
    padding: 45px;
    height: 40vh;
}
.inputcontainer >div{
    text-align: left;
    color: rgb(66,69,83);
}


.loginpromo{
    width: 100%;
    height: 20vh;
    background-color: rgb(252, 253, 253);
    margin-bottom: 20px;
}
.couponcode{
    width: 400px;
    height: 184px;
    margin: auto;
    margin-bottom: 20px;
}

.spandiv{
    width: 30%;
    display: flex;
    flex-direction: row;
    padding: 0%;
}
.heading{
    font-weight: 640;
    font-size: 20px;
    color: #424553;
}
.heading1{
    font-weight: 640;
    font-size: 20px;
    color: #424553;
}


.input1{
    width: 42px;
  
    height: 34.5px;
    padding: 0px 5px;
    outline: none;
    font-size: 15px;
    border: 1px solid #dcdddf;
    color: #282C3FCC;
    border-right: none;
    box-sizing: border-box;
}
.input2{
    width: 262.5px;
    height:34.5px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border: 1px solid silver;
    color: #282C3FCC;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.inputdiv{
    width: 99%;
    height: 5vh;
     margin-top: 20px;
   margin-bottom: 30px;
}

.terms{
    width: 100%;
    font-size: 13px;
    margin-top: 8px;
    color: #282C3FCC;
}
.conditions{
    font-weight: 600;
    font-size: 14px;
    color: rgb(255,63,108);
    cursor: pointer;
    
} 
.heading2{
    font-weight: 300;
    font-size: 16px;
    margin: 0px 8px ;
    margin-top: 20px;
}