.productsBody{
    border: 1px solid black;
    display: flex;
}
#leftPart, #rightPart{
    border: 1px solid black;
    /* height: 500px; */
}
#leftPart{
    width: 16%;
    padding-left:2%;
}
#rightPart{
    margin-left:0.5%;
    width: 81%;
}
.dot {
    height: 17px;
    width: 17px;
    /* background-color: black; */
    border-radius: 50%;
    display: inline-block;
    border:0.1px solid rgb(224, 222, 222);
    margin-right: 5px;
    vertical-align: bottom;  
  }

  label {
      font-size:14px;
      color:rgb(94, 94, 94);
      margin-left: 5px;
    
  }
  input{
      width:15px;
      height:15px;
      vertical-align: bottom;   
  }
  #appendData{
    border:1px solid black;
  }
  #dataGrid{
      display:grid;
      grid-template-columns: auto auto auto;
      border:1px solid black;
  }